torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
numpy==1.26.4
pandas==2.2.2
h5py==3.13.0
scipy==1.14.1
scikit-learn==1.5.1
scikit-image==0.25.2
fairlearn==0.10.0
matplotlib==3.9.2
seaborn==0.13.2
einops==0.8.0
PyYAML==6.0.2
easydict==1.13
wandb==0.18.5
opacus==1.5.2
tqdm==4.66.5
psutil==6.0.0

